@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

@font-face {
  font-family: 'Cherry_Bomb:Regular';
  src: local('Cherry Bomb One'), local('CherryBombOne-Regular');
  font-weight: 400;
  font-style: normal;
}
